body {
	margin: 0;
	font-family: arial;
}

div {
	box-sizing: border-box;
}

#left {
	float: left;
	width: 200px;
}

#content {
	margin-left: 200px;
	background-color: #fff;
}

#center {
	background-color: #efefef;
}


#header {
	background-color: blue;
	color: white;
	font-size: 40px;
	padding: 20px;
}

#user-info {
	font-size: 12px;
	float: right;
}

#footer {
	background-color: #dedede;
}

a {
	text-decoration: none;
	color: #4269a5;
}

a:hover {
	text-decoration: none;
	color: #295391;
}

.main-menu {
	padding: 0px;
	margin: 0px;
}

.main-menu li {
	list-style: none;
	padding: 10px;
}

.main-menu li:hover {
	background-color: #cecece;
}

.data-table {
	border-collapse: collapse;
	width: 100%;
}

.data-table.default td, .data-table.default th {
	border-bottom: solid 1px #ababab;
	padding: 10px;
	color: #666666;
}

.data-table.default tr:hover {
	background-color: #efefef;
}

.data-table.green td, .data-table.green th {
	border-bottom: solid 1px #ababab;
	padding: 10px;
	color: green;
}

.data-table.green tr:hover {
	background-color: #98f0e1;
}

@media screen and (max-width: 600px) {
	#left {
		float: none;
	}

	#content {
		margin: 0px;
	}
}
